// Ant-design styles
@require "../../libs/ant-design-vue/dist/antd.min.css"

// Mixins
@require "mixins/fonts.styl"
@require "mixins/loading.styl"
@require "mixins/custom-scrollbar.styl"
@require "mixins/flex-center.styl"

// Ui-kit
@require "ui-kit/*.styl"

// Transitions
@require "transition/*.styl"

// Animations
@require "animation/*.styl"
